<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/full-page">
<head>
<title>ESS | Progress</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2 layout:fragment="bannerTitle">Online Form</h2>
	<ul layout:fragment="breadcrumbs">
		<li class="active"><b>Forms</b></li>		
	</ul>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-md-10 col-md-offset-1"> 
			<h4 class="classic-title">
				<span>แบบฟอร์มออนไลน์</span>
			</h4>
			<ul>
				<li><a href="/ESSWeb/index.html#salary-menu/" th:href="'/ESSWeb/index.html#salary-menu/' + ${empId}"><b>hrf01: </b>ขอหนังสือรับรอง</a></li>
				<li><a href="#" th:href="'/ESSWeb/index.html#provident-fund/' + ${empId}"><b>hrf02: </b>กองทุนสำรองเลี้ยงชีพ</a></li>
				<li><a href="#" th:href="'/ESSWeb/index.html#ot-main/' + ${empId}"><b>hrf03: </b>ขออนุญาตทำงานล่วงเวลา</a></li>
			</ul>
			</div>
		</div>
	</div>
</body>
</html>
