<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/full-page">
<head>
<title>ESS | Progress</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2 layout:fragment="bannerTitle">Personal Information</h2>
	<ul layout:fragment="breadcrumbs">	</ul>
	<div layout:fragment="content">
	
	<div class="modal fade" id="employeeBasicModal">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        <p>One fine body&hellip;</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default modalCloseBtn">Close</button>
	        <button type="button" class="btn btn-primary modalSaveBtn">Save changes</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<div class="modal fade" id="EducationTabModal">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        <p>One fine body&hellip;</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default modalCloseBtn">Close</button>
	        <button type="button" class="btn btn-primary modalSaveBtn">Save changes</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<div class="modal fade" id="ComputerExperienceTabModal">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        <p>One fine body&hellip;</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default modalCloseBtn">Close</button>
	        <button type="button" class="btn btn-primary modalSaveBtn">Save changes</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<div class="modal fade" id="CertifiedTabModal">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        <p>One fine body&hellip;</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default modalCloseBtn">Close</button>
	        <button type="button" class="btn btn-primary modalSaveBtn">Save changes</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="modal fade" id="WorkExperienceTabModal">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        <p>One fine body&hellip;</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default modalCloseBtn">Close</button>
	        <button type="button" class="btn btn-primary modalSaveBtn">Save changes</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<div class="modal fade" id="ProjectOnHandTabModal">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        <p>One fine body&hellip;</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default modalCloseBtn">Close</button>
	        <button type="button" class="btn btn-primary modalSaveBtn">Save changes</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	
	<div class="modal fade" id="TrainingTabModal">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        <p>One fine body&hellip;</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default modalCloseBtn">Close</button>
	        <button type="button" class="btn btn-primary modalSaveBtn">Save changes</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<div class="modal fade" id="FamilyTabModal">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        <p>One fine body&hellip;</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default modalCloseBtn">Close</button>
	        <button type="button" class="btn btn-primary modalSaveBtn">Save changes</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="modal fade" id="EmergencyContactTabModal">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        <p>One fine body&hellip;</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default modalCloseBtn">Close</button>
	        <button type="button" class="btn btn-primary modalSaveBtn">Save changes</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="modal fade" id="CurrentAddressTabModal">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        <p>One fine body&hellip;</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default modalCloseBtn">Close</button>
	        <button type="button" class="btn btn-primary modalSaveBtn">Save changes</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="modal fade" id="RegisteredAddressTabModal">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        <p>One fine body&hellip;</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default modalCloseBtn">Close</button>
	        <button type="button" class="btn btn-primary modalSaveBtn">Save changes</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
		<form class="form-horizontal">
		<div class="row" id="mainEmployeeDiv">
			
		</div>
		<div class="row">
			<div class="col-md-12" style="margin-top: 14px;">
				<h4 class="classic-title">
					<span>รายละเอียดข้อมูล</span>
				</h4>
			</div>	
			<div class="col-md-12">
				<div role="tabpanel" class="pills-tab">
			
				<ul class="nav nav-pills" id="mainTab">
    				<li class="active"><a href="#EducationTab" aria-controls="EducationTab" data-toggle="pill"><i class="fa fa-university"></i> การศึกษา</a></li>
    				<li><a href="#ComputerExperienceTab" aria-controls="ComputerExperienceTab" data-toggle="pill"><i class="fa fa-desktop"></i> ความสามารถด้านคอมพิวเตอร์</a></li>
    				<li><a href="#TrainingTab" aria-controls="TrainingTab" data-toggle="pill"><i class="fa fa-leanpub"></i> Training</a></li>
    				<li><a href="#CertifiedTab" aria-controls="CertifiedTab" data-toggle="pill"><i class="fa fa-graduation-cap"></i> Certified</a></li>
    				<li><a href="#FamilyTab" aria-controls="FamilyTab" data-toggle="pill"><i class="fa fa-users"></i> ครอบครัว</a></li>
    				<li><a href="#contactTab" aria-controls="contactTab" data-toggle="pill"><i class="fa fa-info-circle"></i> ข้อมูลเพื่อการติดต่อ</a></li>
    				<li><a href="#WorkExperienceTab" aria-controls="WorkExperienceTab" data-toggle="pill"><i class="fa fa-wrench"></i> ประสบการณ์ทำงาน</a></li>
    				<li><a href="#ProjectOnHandTab" aria-controls="projectOnHandTab" data-toggle="pill"><i class="fa fa-tags"></i> Project On Hand</a></li>
				</ul>
				
				 <div class="tab-content">
				 	<div role="tabpanel" class="tab-pane active" id="EducationTab"></div>				 	
				 	<div role="tabpanel" class="tab-pane" id="ComputerExperienceTab"></div>
				 	<div role="tabpanel" class="tab-pane" id="TrainingTab">	</div>
				 	<div role="tabpanel" class="tab-pane" id="CertifiedTab"></div>
				 	<div role="tabpanel" class="tab-pane" id="FamilyTab"></div>
				 	<div role="tabpanel" class="tab-pane" id="contactTab">
						<div class="panel panel-default normal-tab" id="contactPanel" style="margin-top: 14px;">
							<div class="panel-body">
								<div role="tabpanel">
									<ul class="nav nav-tabs" role="tablist">
									    <li role="presentation" class="active"><a href="#RegisteredAddressTab" aria-controls="RegisteredAddressTab" role="tab" data-toggle="tab">ที่อยู่ตามทะเบียนบ้าน</a></li>
									    <li role="presentation"><a href="#CurrentAddressTab" aria-controls="currentAddressTab" role="tab" data-toggle="tab">ที่อยู่ปัจจุบัน</a></li>
									    <li role="presentation"><a href="#EmergencyContactTab"  aria-controls="emergencyContactTab" role="tab" data-toggle="tab">บุคคลที่สามารถติดต่อได้ยามฉุกเฉิน</a></li>
									  </ul>
								</div>
								
								<div class="tab-content">
								    <div role="tabpanel" class="tab-pane active" id="RegisteredAddressTab"></div>
								    <div role="tabpanel" class="tab-pane" id="CurrentAddressTab"></div>
								    <div role="tabpanel" class="tab-pane" id="EmergencyContactTab"></div>
							  </div>
							</div>
						</div>				 	
				 	
				 	</div>
				 
				 	<div role="tabpanel" class="tab-pane" id="WorkExperienceTab"></div>
				 	
				 	<div role="tabpanel" class="tab-pane" id="ProjectOnHandTab"></div>
				 	
				 	
				 	
				 					 
				 </div>	<!-- end Div tab-content -->
				
				
				</div>
			</div>

		</div>
		</form>
	</div>
	
<div layout:fragment="pageScripts">
<script type="text/javascript" src="../../static/pagejs/personal.js"
			th:src="@{/static/pagejs/personal.js}"></script>

<script  id="mainEmployeeDivTemplate" type="text/x-handlebars-template">
			<div class="col-md-3">
				<img class="img-thumbnail" style="margin-left: 40px;" alt="" src="/ess/service/Employee/{{model.id}}/Picture"/>
			</div>
			<div class="col-md-4">
				{{txtInput model "thTitle" "คำนำหน้าชื่อ (TH):" 7 4 "static"}}
				{{txtInput model "thFirstName" "ชื่อ (TH):" 7 4 "static"}}
				{{txtInput model "thLastName" "นามสกุล (TH):" 7 4 "static"}}
				{{txtInput model "thNickName" "ชื่อเล่น (TH):" 7 4 "static"}}
				{{txtInput model "status" "สถานภาพ:" 7 4 "static"}}
				{{txtInput model "homePhoneNo" "เบอร์โทรศัพท์บ้าน:" 7 4 "static"}}
				{{txtInput model "nationalityName" "สัญชาติ:" 7 4 "static"}}
				{{txtInput model "bankAccount" "เลขที่บัญชีธนาคาร:" 7 4 "static"}}
			</div>
			<div class="col-md-5">
				{{txtInput model "enTitle" "คำนำหน้าชื่อ (EN):" 4 8 "static"}}	
				{{txtInput model "enFirstName" "ชื่อ (EN):" 4 8 "static"}}
				{{txtInput model "enLastName" "นามสกุล (EN):" 4 8 "static"}}
				{{txtInput model "enNickName" "ชื่อเล่น (EN):" 4 8 "static"}}
				{{txtInput model "mobilePhone" "เบอร์โทรศัพท์มือถือ:" 4 8 "static"}}
				{{txtInput model "email" "อีเมล์:" 4 8 "static"}}
				{{txtInput model "religious" "ศาสนา:" 4 8 "static"}}
			</div>
			<div class="col-md-4 col-md-offset-6">
				{{#if model.hasChangeSet}}
					<div class="alert alert-warning" role="alert"><p style="text-align: center;"> <i class="fa fa-exclamation-circle"></i> มีการขอแก้ไข กรุณารอการตรวจสอบจาก HR</p></div>
				{{else}}
					<a class="btn-system btn-large" href="#" id="employeeInfoBtn"><i class="fa fa-pencil-square-o"></i> แก้ไขข้อมูลพนักงาน</a>
				{{/if}}
			</div>
</script>

<script  id="RegisteredAddressTabTemplate" type="text/x-handlebars-template">
						<div class="panel panel-default" id="familyPanel" style="margin-top: 14px;">
							<div class="panel-body">
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label for="THTitle" class="col-sm-6 control-label">เลขที่:</label>
													<div class="col-sm-6">
														<p class="form-control-static">{{collection.0.addressNo}}</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-6 control-label">อาคาร:</label>
													<div class="col-sm-6">
														<p class="form-control-static">{{collection.0.buildingName}}</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-6 control-label">ซอย:</label>
													<div class="col-sm-6">
														<p class="form-control-static">{{collection.0.soiName}}</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-6 control-label">อำเภอ:</label>
													<div class="col-sm-6">
														<p class="form-control-static">{{collection.0.amphur}}</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-6 control-label">ประเทศ:</label>
													<div class="col-sm-6">
														<p class="form-control-static">{{collection.0.country}}</p>
													</div>
												</div>
												
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">หมู่ที่:</label>
													<div class="col-sm-8">
														<p class="form-control-static">{{collection.0.moo}}</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">ห้อง:</label>
													<div class="col-sm-8">
														<p class="form-control-static">{{collection.0.roomNo}}</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">ถนน:</label>
													<div class="col-sm-8">
														<p class="form-control-static">{{collection.0.roadName}}</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">จังหวัด:</label>
													<div class="col-sm-8">
														<p class="form-control-static">{{collection.0.province}}</p>
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">หมู่บ้าน:</label>
													<div class="col-sm-8">
														<p class="form-control-static">{{collection.0.villageName}}</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">ชั้น:</label>
													<div class="col-sm-8">
														<p class="form-control-static">{{collection.0.floor}}</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">ตำบล:</label>
													<div class="col-sm-8">
														<p class="form-control-static">{{collection.0.tambon}}</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">รหัสไปรษณีย์:</label>
													<div class="col-sm-8">
														<p class="form-control-static">{{collection.0.postCode}}</p>
													</div>
												</div>
											</div>
										</div>
							</div>
							<div class="panel-footer" style="text-align: center;"><a herf="#" data-id="{{collection.0.id}}" class="btn-system btn-small border-btn" id="addOrUpdateBtn"><i class="fa fa-pencil-square-o"></i> แก้ไขที่อยู่ตามทะเบียนบ้าน</a></div>
						</div>	
</script>
<script  id="RegisteredAddressModalTemplate" type="text/x-handlebars-template">
<div class="container-fluid">

	<form class="form-horizontal">	
		<div class="row">
			<div class="col-md-4">
				{{txtInput model "addressNo" "เลขที่:" 4 8  }}
			</div>
			<div class="col-md-4">
				{{txtInput model "moo" "หมู่:" 4 8  }}
			</div>
			<div class="col-md-4">
				{{txtInput model "villageName" "หมู่บ้าน:" 4 8  }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				{{txtInput model "buildingName" "อาคาร:" 4 8  }}
			</div>
			<div class="col-md-4">
				{{txtInput model "roomNo" "ห้อง:" 4 8  }}
			</div>
			<div class="col-md-4">
				{{txtInput model "floor" "ชั้น:" 4 8  }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				{{txtInput model "soiName" "ซอย:" 4 8  }}
			</div>
			<div class="col-md-4">
				{{txtInput model "roadName" "ถนน:" 4 8  }}
			</div>
			<div class="col-md-4">
				{{txtInput model "tambon" "ตำบล:" 4 8  }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				{{txtInput model "amphur" "อำเภอ:" 4 8  }}
			</div>
			<div class="col-md-4">
				{{txtInput model "province" "จังหวัด:" 4 8  }}
			</div>
			<div class="col-md-4">
				{{txtInput model "postCode" "รหัสไปรษณีย์:" 4 8  }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				{{txtInput model "country" "ประเทศ:" 4 8  }}
			</div>
		</div>

	</form>
</div>
</script>

<script  id="CurrentAddressTabTemplate" type="text/x-handlebars-template">
						<div class="panel panel-default" id="familyPanel" style="margin-top: 14px;">
							<div class="panel-body">
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label for="THTitle" class="col-sm-6 control-label">เลขที่:</label>
													<div class="col-sm-6">
														<p class="form-control-static">{{collection.0.addressNo}}</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-6 control-label">อาคาร:</label>
													<div class="col-sm-6">
														<p class="form-control-static">{{collection.0.buildingName}}</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-6 control-label">ซอย:</label>
													<div class="col-sm-6">
														<p class="form-control-static">{{collection.0.soiName}}</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-6 control-label">อำเภอ:</label>
													<div class="col-sm-6">
														<p class="form-control-static">{{collection.0.amphur}}</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-6 control-label">ประเทศ:</label>
													<div class="col-sm-6">
														<p class="form-control-static">{{collection.0.country}}</p>
													</div>
												</div>
												
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">หมู่ที่:</label>
													<div class="col-sm-8">
														<p class="form-control-static">{{collection.0.moo}}</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">ห้อง:</label>
													<div class="col-sm-8">
														<p class="form-control-static">{{collection.0.roomNo}}</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">ถนน:</label>
													<div class="col-sm-8">
														<p class="form-control-static">{{collection.0.roadName}}</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">จังหวัด:</label>
													<div class="col-sm-8">
														<p class="form-control-static">{{collection.0.province}}</p>
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">หมู่บ้าน:</label>
													<div class="col-sm-8">
														<p class="form-control-static">{{collection.0.villageName}}</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">ชั้น:</label>
													<div class="col-sm-8">
														<p class="form-control-static">{{collection.0.floor}}</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">ตำบล:</label>
													<div class="col-sm-8">
														<p class="form-control-static">{{collection.0.tambon}}</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">รหัสไปรษณีย์:</label>
													<div class="col-sm-8">
														<p class="form-control-static">{{collection.0.postCode}}</p>
													</div>
												</div>
											</div>
										</div>
							</div>
							<div class="panel-footer" style="text-align: center;"><a herf="#" data-id="{{collection.0.id}}" class="btn-system btn-small border-btn" id="addOrUpdateBtn"><i class="fa fa-pencil-square-o"></i> แก้ไขที่อยู่ปัจจุบัน</a></div>
						</div>	
</script>
<script  id="CurrentAddressModalTemplate" type="text/x-handlebars-template">
<div class="container-fluid">

	<form class="form-horizontal">	
		<div class="row">
			<div class="col-md-4">
				{{txtInput model "addressNo" "เลขที่:" 4 8  }}
			</div>
			<div class="col-md-4">
				{{txtInput model "moo" "หมู่:" 4 8  }}
			</div>
			<div class="col-md-4">
				{{txtInput model "villageName" "หมู่บ้าน:" 4 8  }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				{{txtInput model "buildingName" "อาคาร:" 4 8  }}
			</div>
			<div class="col-md-4">
				{{txtInput model "roomNo" "ห้อง:" 4 8  }}
			</div>
			<div class="col-md-4">
				{{txtInput model "floor" "ชั้น:" 4 8  }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				{{txtInput model "soiName" "ซอย:" 4 8  }}
			</div>
			<div class="col-md-4">
				{{txtInput model "roadName" "ถนน:" 4 8  }}
			</div>
			<div class="col-md-4">
				{{txtInput model "tambon" "ตำบล:" 4 8  }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				{{txtInput model "amphur" "อำเภอ:" 4 8  }}
			</div>
			<div class="col-md-4">
				{{txtInput model "province" "จังหวัด:" 4 8  }}
			</div>
			<div class="col-md-4">
				{{txtInput model "postCode" "รหัสไปรษณีย์:" 4 8  }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				{{txtInput model "country" "ประเทศ:" 4 8  }}
			</div>
		</div>

	</form>
</div>
</script>

<script  id="EmergencyContactModalTemplate" type="text/x-handlebars-template">
<div class="container-fluid">

	<form class="form-horizontal">	
		<div class="row">
			<div class="col-md-6">
				{{txtInput model "firstName" "ชื่อ:" 4 8  }}
			</div>
			<div class="col-md-6">
				{{txtInput model "lastName" "นามสกุล:" 4 8  }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				{{txtInput model "relationship" "ความสัมพันธ์:" 4 8  }}
			</div>
			<div class="col-md-6">
				{{txtInput model "telephone" "เบอร์โทรศัพท์:" 4 8  }}
			</div>
		</div>
	</form>
</div>
</script>
<script id="EmergencyContactTabTemplate" type="text/x-handlebars-template">
								    	<div class="row" style="margin-top: 14px;">
								 			<div class="col-md-12">
								 				<a href="#" class="btn-system btn-small border-btn"  id="addBtn"><i class="fa fa-plus"></i> เพิ่มบุคคลที่สามารถติดต่อได้ยามฉุกเฉิน</a>
								 			</div>
								 		</div>
										<div class="panel panel-default" id="emergencyPanel" style="margin-top: 4px;">
											<!-- Table -->
											<table class="table">
												<thead>
													<tr>
														<th style="width: 400px">ชื่อ</th>
														
														<th style="width: 200px">สถานภาพที่เกี่ยวข้อง</th>
														<th>เบอร์โทรศัพท์</th>
														<th style="width: 60px;"></th>
													</tr>
												</thead>
												<tbody>
									{{#each collection}}
													<tr>
														<td>{{#if firstName}}{{firstName}}{{else}}-{{/if}}</td>
														<td>{{#if relationship}}{{relationship}}{{else}}-{{/if}}</td>
														<td>{{#if telephone}}{{telephone}}{{else}}-{{/if}}</td>
														<td><a href="#"  data-id="{{id}}"  id="editBtn"><i class="fa fa-pencil-square-o" ></i></a> 
															<a href="#"  data-id="{{id}}"  id="deleteBtn" style="padding-left: 3px;"><i class="fa fa-times-circle"></i></a>
														</td>
													</tr>
									{{/each}}
												</tbody> 
											</table>
										</div>
</script>

<script id="FamilyTabTemplate" type="text/x-handlebars-template">
						<div class="panel panel-default" id="familyPanel" style="margin-top: 14px;">
							<div class="panel-body">
							<div class="row">
								<div class="col-md-6">
									{{txtInput model "spouseFirstName" "ชื่อคู่สมรส:" 8 4 "static"}}
								</div>
								<div class="col-md-6">
									{{txtInput model "spouseLastName" "นามสกุลคู่สมรส:" 4 8 "static"}}
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									{{txtInput model "totalChildren" "จำนวนบุตรทั้งหมด:" 8 4 "static"}}
								</div>
								<div class="col-md-6">
									{{txtInput model "totalChidrenInEdu" "จำนวนบุตรที่ศึกษาอยู่:" 4 8 "static"}}
								</div>
							</div>
							</div>
							<div class="panel-footer" style="text-align: center;"><a herf="#" data-id="{{model.id}}" class="btn-system btn-small border-btn" id="addOrUpdateBtn"><i class="fa fa-pencil-square-o"></i> แก้ไขข้อมูลครอบครัว</a></div>
						</div>
</script>

<script  id="FamilyModalTemplate" type="text/x-handlebars-template">
<div class="container-fluid">

	<form class="form-horizontal">	
		<div class="row">
			<div class="col-md-6">
				{{txtInput model "spouseFirstName" "ชื่อคู่สมรส:" 4 8  }}
			</div>
			<div class="col-md-6">
				{{txtInput model "spouseLasttName" "นามสกุลคู่สมรส:" 4 8  }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				{{txtInput model "totalChildren" "จำนวนบุตรทั้งหมด:" 4 8  }}
			</div>
			<div class="col-md-6">
				{{txtInput model "totalChidrenInEdu" "จำนวนบุตรที่ศึกษาอยู่:" 4 8  }}
			</div>
		</div>
	</form>
</div>
</script>


<script id="CertifiedTabTemplate" type="text/x-handlebars-template">
					 	<div class="row" style="margin-top: 14px;">
					 			<div class="col-md-12">
					 				<a href="#" class="btn-system btn-small border-btn"  id="addBtn"><i class="fa fa-plus"></i> เพิ่มข้อมูล Certificate</a>
					 			</div>
					 	</div>
						<div class="panel panel-default" id="certificatePanel" style="margin-top: 4px;">
							<!-- Table -->
							<table class="table">
								<thead>
									<tr>
										<th style="width: 400px">ใบ Certificate</th>
										<th style="width: 200px">วันที่ได้ Certificate</th>
										<th style="width: 200px">วันที่ Certificate หมดอายุ</th>
										<th>ชื่อ สถาบัน</th>
										<th style="width: 60px;"></th>
									</tr>
								</thead>
								<tbody>
									{{#each collection}}
									<tr>
										<td>{{certificateName}}</td>
										<td>{{formatDate certifiedDate}}</td>
										<td>{{formatDate certifiedExpired}}</td>
										<td>{{instituteName}}</td>
										<td><a href="#"  data-id="{{id}}" id="editBtn"><i class="fa fa-pencil-square-o"></i></a> 
											<a href="#"  data-id="{{id}}" id="deleteBtn" style="padding-left: 3px;"><i class="fa fa-times-circle"></i></a>
										</td>
									</tr>
									{{/each}}
								</tbody> 
							</table>
						</div>	
</script>

<script  id="CertifiedModalTemplate" type="text/x-handlebars-template">
<div class="container-fluid">

	<form class="form-horizontal">	
		<div class="row">
			<div class="col-md-6">
				{{txtInput model "certifiedDate" "วันที่ได้ Certificate:" 4 8  }}
			</div>
			<div class="col-md-6">
				{{txtInput model "certifiedExpired" "วันที่ Certificate หมดอายุ:" 4 8  }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{{txtInput model "certificateName" "ใบ Certificate:" 2 10  }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{{txtInput model "instituteName" "ชื่อสถาบัน:" 2 10  }}
			</div>
		</div>
	</form>
</div>
</script>


<script id="WorkExperienceTabTemplate" type="text/x-handlebars-template">
				 		<div class="row" style="margin-top: 14px;">
				 			<div class="col-md-12">
				 				<a href="#" class="btn-system btn-small border-btn" id="addBtn"><i class="fa fa-plus"></i> เพิ่มข้อมูลประสบการณ์การทำงาน</a>
				 			</div>
				 		</div>
				 		<div class="panel panel-default" style="margin-top: 4px;">
							<!-- Table -->
							<table class="table">
								<thead>
									<tr>
										<th style="width: 200px">ชื่อสถานประกอบการ</th>
										<th style="width: 120px">วันที่เริ่มทำงาน</th>
										<th style="width: 120px">วันที่เริ่มทำงาน</th>
										<th style="width: 80px">อายุงาน</th>	
										<th style="width: 150px">ตำแหน่ง</th>									
										<th>รายละเอียดเกี่ยวกับงาน</th>
										<th style="width: 60px;"></th>
									</tr>
								</thead>
								<tbody>
									{{#each collection}}
									<tr>
										<td>{{workplaceName}}</td>
										<td>{{formatDate beginDate}}</td>
										<td>{{formatDate endDate}}</td>
										<td>{{length}}</td>
										<td>{{title}}</td>
										<td>{{detail}}</td>
										<td><a href="#"  data-id="{{id}}" id="editBtn"><i class="fa fa-pencil-square-o"></i></a> 
											<a href="#"  data-id="{{id}}" id="deleteBtn" style="padding-left: 3px;"><i class="fa fa-times-circle"></i></a>
										</td>
									</tr>
									{{/each}}
								</tbody> 
							</table>
						</div>
				 	
</script>

<script  id="WorkExperienceModalTemplate" type="text/x-handlebars-template">
<div class="container-fluid">

	<form class="form-horizontal">	
		<div class="row">
			<div class="col-md-6">
				{{txtInput model "beginDate" "วันที่เริ่ม:" 4 8  }}
			</div>
			<div class="col-md-6">
				{{txtInput model "endDate" "วันที่สิ้นสุด:" 4 8  }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{{txtInput model "workplaceName" "ชื่อสถานประกอบการ:" 2 10  }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{{txtInput model "length" "อายุงาน:" 2 10  }}
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				{{txtInput model "title" "ตำแหน่ง:" 2 10  }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{{txtInput model "detail" "ราายละเอียด:" 2 10  }}
			</div>
		</div>
	</form>
</div>
</script>


<script id="TrainingTabTemplate" type="text/x-handlebars-template">
				 		<div class="row" style="margin-top: 14px;">
				 			<div class="col-md-12">
				 				<a href="#" class="btn-system btn-small border-btn" id="addBtn"><i class="fa fa-plus"></i> เพิ่มข้อมูลการ Training</a>
				 			</div>
				 		</div>
					 	<div class="panel panel-default" id="trainingPanel" style="margin-top: 4px;">
							<!-- Table -->
							<table class="table">
								<thead>
									<tr>
										<th style="width: 120px">วันที่เริ่ม</th>
										<th style="width: 120px">วันที่สิ่นสุด</th>
										<th style="width: 150px">ชื่อหลักสูตร</th>
										<th style="width: 150px">ชื่อสถาบัน</th>
										<th>รายละเอียด</th>
										<th style="width: 150px">ใบ Certificate</th>
										<th style="width: 150px">Functional/<br/>non-Funcitonal</th>
										<th style="width: 60px;"></th>
									</tr>
								</thead>
								<tbody>
									{{#each collection}}
									<tr>
										<td>{{formatDate beginDate}}</td>
										<td>{{formatDate endDate}}</td>
										<td>{{courseName}}</td>
										<td>{{instituteName}}</td>
										<td{{detail}}</td>
										<td>ไม่มี</td>
										<td>non-Functional</td>
										<td><a href="#"  data-id="{{id}}" id="editBtn"><i class="fa fa-pencil-square-o"></i></a> 
											<a href="#"  data-id="{{id}}" id="deleteBtn" style="padding-left: 3px;"><i class="fa fa-times-circle"></i></a>
										</td>
									</tr>
									{{/each}}
								</tbody> 
							</table>
						</div>
</script>

<script id="ProjectOnHandTabTemplate" type="text/x-handlebars-template">
				 		<div class="row" style="margin-top: 14px;">
				 			<div class="col-md-12">
				 				<a href="#" class="btn-system btn-small border-btn" id="addBtn"><i class="fa fa-plus"></i> เพิ่มข้อมูล Project On Hand</a>
				 			</div>
				 		</div>
				 		<div class="panel panel-default" style="margin-top: 4px;">
							<!-- Table -->
							<table class="table">
								<thead>
									<tr>
										<th style="width: 80px">ลำดับที่</th>
										<th>ชื่อ Project</th>
										<th style="width: 60px;"></th>
									</tr>
								</thead>
								<tbody>
									{{#each collection}}
									<tr {{#if isChangeOrAdd}}class="static-tr-change-request"{{/if}} {{#if isDeleteChangeSet}}class="static-tr-delete-request"{{/if}}>
										<td>{{math @index "+" 1}}</td>
										<td>{{projectName}}</td>
										<td>
											{{#unless hasChangeSet}}
								
												<a href="#"  data-id="{{id}}" id="editBtn"><i class="fa fa-pencil-square-o"></i></a> 
												<a href="#"  data-id="{{id}}" id="deleteBtn" style="padding-left: 3px;"><i class="fa fa-times-circle"></i></a>
											{{else}}
												<p style="text-align:center;" class="change-request"><i class='fa {{changsetIcon}}'></i></p>
											{{/unless}}
										</td>
									</tr>
									{{/each}}
								</tbody> 
							</table>
						</div>			 	
</script>
<script  id="ProjectOnHandModalTemplate" type="text/x-handlebars-template">
<div class="container-fluid">
<form class="form-horizontal">
	<div class="row">
				
			<div class="col-md-12">
				{{txtInput model "projectName" "Project Name:" 2 10  }}
			<div>
	</div>
	<div class="row">
			<div class="col-md-12">
				{{txtInput model "projectDetail" "Project Detail:" 2 10  }}
			</div>
	</div>
</form>
</div>
</script>

<script  id="TrainingModalTemplate" type="text/x-handlebars-template">
<div class="container-fluid">

	<form class="form-horizontal">	
		<div class="row">
			<div class="col-md-6">
				{{txtInput model "beginDate" "วันที่เริ่ม:" 4 8  }}
			</div>
			<div class="col-md-6">
				{{txtInput model "endDate" "วันที่สิ้นสุด:" 4 8  }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{{txtInput model "courseName" "ชื่อหลักสูตร:" 2 10  }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{{txtInput model "instituteName" "ชื่อสถาบัน:" 2 10  }}
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				{{txtInput model "detail" "รายละเอียด:" 2 10  }}
			</div>
		</div>
	</form>
</div>
</script>

<script id="ComputerExperienceTabTemplate" type="text/x-handlebars-template">
				 		<div class="row" style="margin-top: 14px;">
				 			<div class="col-md-12">
				 				<a href="#" class="btn-system btn-small border-btn" id="addBtn"><i class="fa fa-plus"></i> เพิ่มข้อมูลความสามารถด้านคอมพิวเตอร์</a>
				 			</div>
				 		</div>
						<div class="panel panel-default" id="computerPanel" style="margin-top: 4px;">
							<!-- Table -->
							<table class="table">
								<thead>
									<tr>
										<th style="width: 400px">Programming Language</th>
										<th style="width: 300px">ใบ Certificate</th>
										<th>ชื่อ Certificate</th>
										<th style="width: 60px;"></th>
									</tr>
								</thead>
								<tbody>
									{{#each collection}}
									<tr>
										<td>{{programmingLanguage}}</td>
										<td>{{certificate}}</td>
										<td>{{certificateName}}</td>
										<td><a href="#" data-id="{{id}}" id="editBtn"><i class="fa fa-pencil-square-o"></i></a> 
											<a href="#" data-id="{{id}}" id="deleteBtn" style="padding-left: 3px;"><i class="fa fa-times-circle"></i></a>
										</td>
									</tr>
									{{/each}}
								</tbody> 
							</table>
						</div>				 	
</script>
<script  id="ComputerExperienceModalTemplate" type="text/x-handlebars-template">
<div class="container-fluid">
<form class="form-horizontal">
	<div class="row">
				
			<div class="col-md-12">
				{{txtInput model "programmingLanguage" "ภาษาคอมพิวเตอร์:" 2 10  }}
			<div>
	</div>
	<div class="row">
			<div class="col-md-12">
				{{txtInput model "certificate" "ใบ Certificate:" 2 10  }}
			</div>
	</div>
	<div class="row">
			<div class="col-md-12">
				{{txtInput model "certificateName" "ชื่อ Certificate:"  2 10  }}
			</div>
	</div>
</form>
</div>
</script>

<script id="EducationTabTemplate" type="text/x-handlebars-template">
	<div class="row" style="margin-top: 14px;">
		<div class="col-md-12">
			<a href="#" class="btn-system btn-small border-btn" id="addBtn"><i class="fa fa-plus"></i> เพิ่มข้อมูลการศึกษา</a>
		</div>
	</div>
	<div class="panel panel-default" style="margin-top: 4px;">
		<!-- Table -->
	<table class="table">
		<thead>
			<tr>
				<th style="width: 100px">ปีที่เริ่มเรียน</th>
				<th style="width: 100px">ปีที่จบ</th>
				<th>ชื่อสถาบัน</th>
				<th style="width: 150px">วุฒิการศึกษา</th>
				<th style="width: 150px">คณะ</th>
				<th style="width: 180px">สาขา</th>
				<th style="width: 80px">เกรดเฉลี่ย</th>
				<th style="width: 60px;"></th>
			</tr>
		</thead>
		<tbody>
			{{#each collection}}
			<tr>
				<td>{{yearBegin}}</td>
				<td>{{yearEnd}}</td>
				<td>{{instituteName}}</td>
				<td>{{degree}}</td>
				<td>{{faculty}}</td>
				<td>{{major}}</td>
				<td>{{gpa}}</td>
				<td><a href="#" data-id="{{id}}" id="editBtn"><i class="fa fa-pencil-square-o"></i></a> 
					<a href="#" data-id="{{id}}" id="deleteBtn" style="padding-left: 3px;"><i class="fa fa-times-circle"></i></a>
				</td>
			</tr>
			{{/each}}
		</tbody> 
	</table>
</div>
</script>
<script  id="EducationModalTemplate" type="text/x-handlebars-template">
<div class="container-fluid">
	<div class="row">
		<form class="form-horizontal">		
			<div class="col-md-6">
				{{txtInput model "yearBegin" "ปีที่เริ่มเรียน:" 4 8  }}
				{{txtInput model "instituteName" "ชื่อสถาบัน:" 4 8  }}
				{{txtInput model "faculty" "คณะ:" 4 8  }}
				{{txtInput model "gpa" "เกรดเฉลี่ย:" 4 8  }}
			</div>
			<div class="col-md-6">
				{{txtInput model "yearEnd" "ปีที่เรียนจบ:" 4 8  }}	
				{{txtInput model "degree" "วุฒิการศึกษา:" 4 8  }}
				{{txtInput model "major" "สาขา:" 4 8  }}
			</div>
		</form>
	</div>
</div>
</script>

<script  id="employeeBasicInfoModalTemplate" type="text/x-handlebars-template">
<div class="container-fluid">
	<div class="row">
		<form class="form-horizontal">		
			<div class="col-md-6">
				{{txtInput model "thTitle" "คำนำหน้าชื่อ (TH):" 4 8  "static"}}
				{{txtInput model "thFirstName" "ชื่อ (TH):" 4 8  "static"}}
				{{txtInput model "thLastName" "นามสกุล (TH):" 4 8  "static"}}
				{{txtInput model "thNickName" "ชื่อเล่น (TH):" 4 8  }}
				{{txtInput model "status" "สถานภาพ:" 4 8  }}
				{{txtInput model "homePhoneNo" "เบอร์โทรศัพท์บ้าน:" 4 8  }}
				{{txtInput model "nationalityName" "สัญชาติ:" 4 8  "static"}}
				{{txtInput model "bankAccount" "เลขที่บัญชีธนาคาร:" 4 8  }}
			</div>
			<div class="col-md-6">
				{{txtInput model "enTitle" "คำนำหน้าชื่อ (EN):" 4 8  "static"}}	
				{{txtInput model "enFirstName" "ชื่อ (EN):" 4 8 "static"}}
				{{txtInput model "enLastName" "นามสกุล (EN):" 4 8  "static"}}
				{{txtInput model "enNickName" "ชื่อเล่น (EN):" 4 8  }}
				{{txtInput model "mobilePhone" "โทรศัพท์มือถือ:" 4 8  }}
				{{txtInput model "email" "อีเมล์:" 4 8  static}}
				{{txtInput model "religious" "ศาสนา:" 4 8  }}
			</div>
		</form>
	</div>
</div>
</script>


<script type="text/javascript" th:inline="javascript">
//<!--
var appRouter;

var empId = /*[[${empId}]]*/ 'value';
var currentRequests = new ess.Collection.ChangeRequests();
var currentRequestsUrl = appUrl('ChangeRequest/Employee/' + empId + '/notFinalState');

$(document).ready(function() {
	
	$('#mainTab li a').click(function (e) {
		  e.preventDefault();
		  $(this).tab('show');
		})
	
	var employee = ess.Model.Employee.findOrCreate({id: empId});
	
	__loaderInEl($("#mainEmployeeDiv"));
	
	
	
	$.when(employee.fetch(), currentRequests.fetch({url: currentRequestsUrl})).done(function(x) {
		var mainEmployeeView = new MainEmployeeView({el: "#mainEmployeeDiv", model : employee});
		
		appRouter = new AppRouter({
			mainEmployeeView: mainEmployeeView,
		});
		Backbone.history.start();
	});
})
//-->
</script>
	
</div>
</body>
</html>