<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/full-page">
<head>
<title>ESS | Progress</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2 layout:fragment="bannerTitle">Personal Information</h2>
	<ul layout:fragment="breadcrumbs">	</ul>
	<div layout:fragment="content">
		<form class="form-horizontal">
		<div class="row" id="mainEmployeeDiv">
			<div class="col-md-2">
				<img class="img-thumbnail" style="margin-left: 40px;" alt="" src="xxx.jpg" th:src="@{/static/images/headshot.jpg}"/>
			</div>
			<div class="col-md-5">
				<div class="form-group">
					<label for="THTitle" class="col-sm-7 control-label">คำนำหน้าชื่อ (TH):</label>
					<div class="col-sm-4">
						<p class="form-control-static">email@example.com</p>
					</div>
				</div>
				<div class="form-group">
					<label for="THFirstName" class="col-sm-7 control-label">ชื่อ (TH):</label>
					<div class="col-sm-4">
						<p class="form-control-static">email@example.com</p>
					</div>
				</div>
				<div class="form-group">
					<label for="THLastName" class="col-sm-7 control-label">นามสกุล (TH):</label>
					<div class="col-sm-4">
						<p class="form-control-static">email@example.com</p>
					</div>
				</div>
				<div class="form-group">
					<label for="THLastName" class="col-sm-7 control-label">ชื่อเล่น (TH):</label>
					<div class="col-sm-4">
						<p class="form-control-static">email@example.com</p>
					</div>
				</div>
				<div class="form-group">
					<label for="THLastName" class="col-sm-7 control-label">สถานภาพ:</label>
					<div class="col-sm-4">
						<p class="form-control-static">email@example.com</p>
					</div>
				</div>
				<div class="form-group">
					<label for="HomePhoneNo" class="col-sm-7 control-label">เบอร์โทรศัพท์บ้าน:</label>
					<div class="col-sm-4">
						<p class="form-control-static">email@example.com</p>
					</div>
				</div>
				<div class="form-group">
					<label for="NationalityName" class="col-sm-7 control-label">สัญชาติ:</label>
					<div class="col-sm-4">
						<p class="form-control-static">email@example.com</p>
					</div>
				</div>
				<div class="form-group">
					<label for="BankAccount" class="col-sm-7 control-label">เลขที่บัญชีธนาคาร:</label>
					<div class="col-sm-4">
						<p class="form-control-static">email@example.com</p>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<div class="form-group">
					<label for="ENTitle" class="col-sm-4 control-label">คำนำหน้าชื่อ (EN):</label>
					<div class="col-sm-8">
						<p class="form-control-static">email@example.com</p>
					</div>
				</div>
				<div class="form-group">
					<label for="ENFirstName" class="col-sm-4 control-label">ชื่อ (EN):</label>
					<div class="col-sm-8">
						<p class="form-control-static">email@example.com</p>
					</div>
				</div>
				<div class="form-group">
					<label for="ENLastName" class="col-sm-4 control-label">นามสกุล (EN):</label>
					<div class="col-sm-8">
						<p class="form-control-static">email@example.com</p>
					</div>
				</div>
				<div class="form-group">
					<label for="ENNickName" class="col-sm-4 control-label">ชื่อเล่น (EN):</label>
					<div class="col-sm-8">
						<p class="form-control-static">email@example.com</p>
					</div>
				</div>
				<div class="form-group">
					<label for="mobilePhone" class="col-sm-4 control-label">เบอร์โทรศัพท์มือถือ:</label>
					<div class="col-sm-8">
						<p class="form-control-static">email@example.com</p>
					</div>
				</div>
				<div class="form-group">
					<label for="email" class="col-sm-4 control-label">อีเมล์:</label>
					<div class="col-sm-8">
						<p class="form-control-static">email@example.com</p>
					</div>
				</div>
				<div class="form-group">
					<label for="religious" class="col-sm-4 control-label">ศาสนา:</label>
					<div class="col-sm-8">
						<p class="form-control-static">email@example.com</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-md-offset-6">
				<a class="btn-system btn-large" href="#"><i class="fa fa-pencil-square-o"></i> แก้ไขข้อมูลพนักงาน</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" style="margin-top: 14px;">
				<h4 class="classic-title">
					<span>รายละเอียดข้อมูล</span>
				</h4>
			</div>	
			<div class="col-md-12">
				<div role="tabpanel" class="pills-tab">
			
				<ul class="nav nav-pills" id="detail-nav">
    				<li class="active"><a href="#educationTab" aria-controls="educationTab" data-toggle="pill"><i class="fa fa-university"></i> การศึกษา</a></li>
    				<li><a href="#computerTab" aria-controls="computerTab" data-toggle="pill"><i class="fa fa-desktop"></i> ความสามารถด้านคอมพิวเตอร์</a></li>
    				<li><a href="#trainingTab" aria-controls="trainingTab" data-toggle="pill"><i class="fa fa-leanpub"></i> Training</a></li>
    				<li><a href="#certificateTab" aria-controls="certificateTab" data-toggle="pill"><i class="fa fa-graduation-cap"></i> Certified</a></li>
    				<li><a href="#familyTab" aria-controls="familyTab" data-toggle="pill"><i class="fa fa-users"></i> ครอบครัว</a></li>
    				<li><a href="#contactTab" aria-controls="contactTab" data-toggle="pill"><i class="fa fa-info-circle"></i> ข้อมูลเพื่อการติดต่อ</a></li>
    				<li><a href="#experienceTab" aria-controls="experienceTab" data-toggle="pill"><i class="fa fa-wrench"></i> ประสบการณ์ทำงาน</a></li>
    				<li><a href="#projectOnHandTab" aria-controls="projectOnHandTab" data-toggle="pill"><i class="fa fa-tags"></i> Project On Hand</a></li>
				</ul>
				
				 <div class="tab-content">
				 	<div role="tabpanel" class="tab-pane active" id="educationTab">
				 		<div class="row" style="margin-top: 14px;">
				 			<div class="col-md-12">
				 				<a href="#" class="btn-system btn-small border-btn"><i class="fa fa-plus"></i> เพิ่มข้อมูลการศึกษา</a>
				 			</div>
				 		</div>
				 		<div class="panel panel-default" style="margin-top: 4px;">
				 			<!-- Table -->
							<table class="table">
								<thead>
									<tr>
										<th style="width: 100px">ปีที่เริ่มเรียน</th>
										<th style="width: 100px">ปีที่จบ</th>
										<th>ชื่อสถาบัน</th>
										<th style="width: 150px">วุฒิการศึกษา</th>
										<th style="width: 150px">คณะ</th>
										<th style="width: 180px">สาขา</th>
										<th style="width: 80px">เกรดเฉลี่ย</th>
										<th style="width: 60px;"></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>2535</td>
										<td>2542</td>
										<td>มหาวิทยาลัยราชภัฎอุตรดิตถ์</td>
										<td>ปริญญาตรี</td>
										<td>บริหาร</td>
										<td>บริหารคอมพิวเตอร์</td>
										<td>2.92</td>
										<td><a href="#"><i class="fa fa-pencil-square-o"></i></a> 
											<a href="#" style="padding-left: 3px;"><i class="fa fa-times-circle"></i></a>
										</td>
									</tr>
								</tbody> 
							</table>
						</div>
				 	
				 	</div>
				 
				 	<div role="tabpanel" class="tab-pane" id="computerTab">
				 		<div class="row" style="margin-top: 14px;">
				 			<div class="col-md-12">
				 				<a href="#" class="btn-system btn-small border-btn"><i class="fa fa-plus"></i> เพิ่มข้อมูลความสามารถด้านคอมพิวเตอร์</a>
				 			</div>
				 		</div>
						<div class="panel panel-default" id="computerPanel" style="margin-top: 4px;">
							<!-- Table -->
							<table class="table">
								<thead>
									<tr>
										<th style="width: 400px">Programming Language</th>
										<th style="width: 300px">ใบ Certificate</th>
										<th>ชื่อ Certificate</th>
										<th style="width: 60px;"></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>JAVA</td>
										<td>Oracle JAVA Engineering</td>
										<td>Oracel JAVA Professional Series</td>
										<td><a href="#"><i class="fa fa-pencil-square-o"></i></a> 
											<a href="#" style="padding-left: 3px;"><i class="fa fa-times-circle"></i></a>
										</td>
									</tr>
								</tbody> 
							</table>
						</div>				 	
				 	</div>


				 	<div role="tabpanel" class="tab-pane" id="trainingTab">
				 		<div class="row" style="margin-top: 14px;">
				 			<div class="col-md-12">
				 				<a href="#" class="btn-system btn-small border-btn"><i class="fa fa-plus"></i> เพิ่มข้อมูลการ Training</a>
				 			</div>
				 		</div>
					 	<div class="panel panel-default" id="trainingPanel" style="margin-top: 4px;">
							<!-- Table -->
							<table class="table">
								<thead>
									<tr>
										<th style="width: 100px">วันที่เริ่ม</th>
										<th style="width: 100px">วันที่สิ่นสุด</th>
										<th style="width: 150px">ชื่อหลักสูตร</th>
										<th style="width: 150px">ชื่อสถาบัน</th>
										<th>รายละเอียด</th>
										<th style="width: 150px">ใบ Certificate</th>
										<th style="width: 150px">Functional/<br/>non-Funcitonal</th>
										<th style="width: 60px;"></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>15 มิ.ย. 57</td>
										<td>30 มิ.ย. 57</td>
										<td>การพัฒนาบุคลิกภาพ</td>
										<td>สถาบันบริหารบัณฑิตพัฒนาศาสตร์</td>
										<td>อบรมด้านการพัฒนาบุคลิกภาพบริหาร</td>
										<td>ไม่มี</td>
										<td>non-Functional</td>
										<td><a href="#"><i class="fa fa-pencil-square-o"></i></a> 
											<a href="#" style="padding-left: 3px;"><i class="fa fa-times-circle"></i></a>
										</td>
									</tr>
								</tbody> 
							</table>
						</div>
				 	</div>


				 	<div role="tabpanel" class="tab-pane" id="certificateTab">
					 	<div class="row" style="margin-top: 14px;">
					 			<div class="col-md-12">
					 				<a href="#" class="btn-system btn-small border-btn"><i class="fa fa-plus"></i> เพิ่มข้อมูล Certificate</a>
					 			</div>
					 	</div>
						<div class="panel panel-default" id="certificatePanel" style="margin-top: 4px;">
							<!-- Table -->
							<table class="table">
								<thead>
									<tr>
										<th style="width: 400px">ใบ Certificate</th>
										<th style="width: 200px">วันที่ได้ Certificate</th>
										<th style="width: 200px">วันที่ Certificate หมดอายุ</th>
										<th>ชื่อ สถาบัน</th>
										<th style="width: 60px;"></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Oracle JAVA Engineering</td>
										<td>1 มี.ค. 57</td>
										<td>1 มี.ค. 59</td>
										<td>Oracle Corp.</td>
										<td><a href="#"><i class="fa fa-pencil-square-o"></i></a> 
											<a href="#" style="padding-left: 3px;"><i class="fa fa-times-circle"></i></a>
										</td>
									</tr>
								</tbody> 
							</table>
						</div>				 	
				 	</div>


				 	<div role="tabpanel" class="tab-pane" id="familyTab">
						<div class="panel panel-default" id="familyPanel" style="margin-top: 14px;">
							<div class="panel-body">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="THTitle" class="col-sm-8 control-label">ชื่อคู่สมรส:</label>
										<div class="col-sm-4">
											<p class="form-control-static">email@example.com</p>
										</div>
									</div>
									<div class="form-group">
										<label for="THFirstName" class="col-sm-8 control-label">จำนวนบุตรทั้งหมด:</label>
										<div class="col-sm-4">
											<p class="form-control-static">email@example.com</p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="THTitle" class="col-sm-4 control-label">นามสกุลคู่สมรส:</label>
										<div class="col-sm-8">
											<p class="form-control-static">email@example.com</p>
										</div>
									</div>
									<div class="form-group">
										<label for="THFirstName" class="col-sm-4 control-label">จำนวนบุตรที่ศึกษาอยู่:</label>
										<div class="col-sm-8">
											<p class="form-control-static">email@example.com</p>
										</div>
									</div>
								</div>
							</div>
							</div>
							<div class="panel-footer" style="text-align: center;"><a herf="#" class="btn-system btn-small border-btn"><i class="fa fa-pencil-square-o"></i> แก้ไขข้อมูลครอบครัว</a></div>
						</div>				 	
				 	</div>

				 	<div role="tabpanel" class="tab-pane" id="contactTab">
						<div class="panel panel-default normal-tab" id="contactPanel" style="margin-top: 14px;">
							<div class="panel-body">
								<div role="tabpanel">
									<ul class="nav nav-tabs" role="tablist">
									    <li role="presentation" class="active"><a href="#homeAddressTab" aria-controls="homeAddressTab" role="tab" data-toggle="tab">ที่อยู่ตามทะเบียนบ้าน</a></li>
									    <li role="presentation"><a href="#currentAddressTab" aria-controls="currentAddressTab" role="tab" data-toggle="tab">ที่อยู่ปัจจุบัน</a></li>
									    <li role="presentation"><a href="#emergencyTab"  aria-controls="emergencyTab" role="tab" data-toggle="tab">บุคคลที่สามารติดต่อได้ยามฉุกเฉิน</a></li>
									  </ul>
								</div>
								
								<div class="tab-content">
								    <div role="tabpanel" class="tab-pane active" id="homeAddressTab">
 <div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label for="THTitle" class="col-sm-6 control-label">เลขที่:</label>
													<div class="col-sm-6">
														<p class="form-control-static">email@example.com</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-6 control-label">อาคาร:</label>
													<div class="col-sm-6">
														<p class="form-control-static">email@example.com</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-6 control-label">ซอย:</label>
													<div class="col-sm-6">
														<p class="form-control-static">email@example.com</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-6 control-label">อำเภอ:</label>
													<div class="col-sm-6">
														<p class="form-control-static">email@example.com</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-6 control-label">ประเทศ:</label>
													<div class="col-sm-6">
														<p class="form-control-static">email@example.com</p>
													</div>
												</div>
												
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">หมู่ที่:</label>
													<div class="col-sm-8">
														<p class="form-control-static">email@example.com</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">ห้อง:</label>
													<div class="col-sm-8">
														<p class="form-control-static">email@example.com</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">ถนน:</label>
													<div class="col-sm-8">
														<p class="form-control-static">email@example.com</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">จังหวัด:</label>
													<div class="col-sm-8">
														<p class="form-control-static">email@example.com</p>
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">หมู่บ้าน:</label>
													<div class="col-sm-8">
														<p class="form-control-static">email@example.com</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">ชั้น:</label>
													<div class="col-sm-8">
														<p class="form-control-static">email@example.com</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">ตำบล:</label>
													<div class="col-sm-8">
														<p class="form-control-static">email@example.com</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">รหัสไปรษณีย์:</label>
													<div class="col-sm-8">
														<p class="form-control-static">email@example.com</p>
													</div>
												</div>
											</div>
										</div>									   
								    </div>
								    <div role="tabpanel" class="tab-pane" id="currentAddressTab">
 										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label for="THTitle" class="col-sm-6 control-label">เลขที่:</label>
													<div class="col-sm-6">
														<p class="form-control-static">email@example.com</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-6 control-label">อาคาร:</label>
													<div class="col-sm-6">
														<p class="form-control-static">email@example.com</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-6 control-label">ซอย:</label>
													<div class="col-sm-6">
														<p class="form-control-static">email@example.com</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-6 control-label">อำเภอ:</label>
													<div class="col-sm-6">
														<p class="form-control-static">email@example.com</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-6 control-label">ประเทศ:</label>
													<div class="col-sm-6">
														<p class="form-control-static">email@example.com</p>
													</div>
												</div>
												
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">หมู่ที่:</label>
													<div class="col-sm-8">
														<p class="form-control-static">email@example.com</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">ห้อง:</label>
													<div class="col-sm-8">
														<p class="form-control-static">email@example.com</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">ถนน:</label>
													<div class="col-sm-8">
														<p class="form-control-static">email@example.com</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">จังหวัด:</label>
													<div class="col-sm-8">
														<p class="form-control-static">email@example.com</p>
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">หมู่บ้าน:</label>
													<div class="col-sm-8">
														<p class="form-control-static">email@example.com</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">ชั้น:</label>
													<div class="col-sm-8">
														<p class="form-control-static">email@example.com</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">ตำบล:</label>
													<div class="col-sm-8">
														<p class="form-control-static">email@example.com</p>
													</div>
												</div>
												<div class="form-group">
													<label for="THTitle" class="col-sm-4 control-label">รหัสไปรษณีย์:</label>
													<div class="col-sm-8">
														<p class="form-control-static">email@example.com</p>
													</div>
												</div>
											</div>
										</div>											
								    </div>
								    <div role="tabpanel" class="tab-pane" id="emergencyTab">
								    	<div class="row" style="margin-top: 14px;">
								 			<div class="col-md-12">
								 				<a href="#" class="btn-system btn-small border-btn"><i class="fa fa-plus"></i> เพิ่มบุคคลที่สามารถติดต่อได้ยามฉุกเฉิน</a>
								 			</div>
								 		</div>
										<div class="panel panel-default" id="emergencyPanel" style="margin-top: 4px;">
											<!-- Table -->
											<table class="table">
												<thead>
													<tr>
														<th style="width: 200px">ชื่อ</th>
														<th style="width: 200px">นามสกุล</th>
														<th style="width: 200px">สถานภาพที่เกี่ยวข้อง</th>
														<th>เบอร์โทรศัพท์</th>
														<th style="width: 60px;"></th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>สมชาย</td>
														<td>รักไทย</td>
														<td>บิดา</td>
														<td>095-0228-8543</td>
														<td><a href="#"><i class="fa fa-pencil-square-o"></i></a> 
															<a href="#" style="padding-left: 3px;"><i class="fa fa-times-circle"></i></a>
														</td>
													</tr>
												</tbody> 
											</table>
										</div>				 	
								    </div>
							  </div>
							</div>
						</div>				 	
				 	
				 	</div>
				 
				 	<div role="tabpanel" class="tab-pane" id="experienceTab">
				 		<div class="row" style="margin-top: 14px;">
				 			<div class="col-md-12">
				 				<a href="#" class="btn-system btn-small border-btn"><i class="fa fa-plus"></i> เพิ่มข้อมูลประสบการณ์การทำงาน</a>
				 			</div>
				 		</div>
				 		<div class="panel panel-default" style="margin-top: 4px;">
							<!-- Table -->
							<table class="table">
								<thead>
									<tr>
										<th style="width: 200px">ชื่อสถานประกอบการ</th>
										<th style="width: 100px">วันที่เริ่มทำงาน</th>
										<th style="width: 100px">วันที่เริ่มทำงาน</th>
										<th style="width: 80px">อายุงาน</th>	
										<th style="width: 150px">ตำแหน่ง</th>									
										<th>รายละเอียดเกี่ยวกับงาน</th>
										<th style="width: 60px;"></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>บริษัท ซอร์ฟแวร์ไทย จำกัด</td>
										<td>16 ม.ค. 52</td>
										<td>30 ธ.ค. 54</td>
										<td>2 ปี</td>
										<td>โปรแกรมเมอร์</td>
										<td>พัฒนาระบบงานขนาดใหญ่</td>
										<td><a href="#"><i class="fa fa-pencil-square-o"></i></a> 
											<a href="#" style="padding-left: 3px;"><i class="fa fa-times-circle"></i></a>
										</td>
									</tr>
								</tbody> 
							</table>
						</div>
				 	
				 	</div>
				 	
				 	<div role="tabpanel" class="tab-pane" id="projectOnHandTab">
				 		<div class="row" style="margin-top: 14px;">
				 			<div class="col-md-12">
				 				<a href="#" class="btn-system btn-small border-btn"><i class="fa fa-plus"></i> เพิ่มข้อมูล Project On Hand</a>
				 			</div>
				 		</div>
				 		<div class="panel panel-default" style="margin-top: 4px;">
							<!-- Table -->
							<table class="table">
								<thead>
									<tr>
										<th style="width: 80px">ลำดับที่</th>
										<th>ชื่อ Project</th>
										<th style="width: 60px;"></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>ระบบ Back Office</td>
										<td><a href="#"><i class="fa fa-pencil-square-o"></i></a> 
											<a href="#" style="padding-left: 3px;"><i class="fa fa-times-circle"></i></a>
										</td>
									</tr>
								</tbody> 
							</table>
						</div>
				 	
				 	</div>
				 	
				 	
				 	
				 					 
				 </div>	<!-- end Div tab-content -->
				
				
				</div>
			</div>

		</div>
		</form>
	</div>
	
<div layout:fragment="pageScripts">
<script type="text/javascript" src="../../static/pagejs/personal.js"
			th:src="@{/static/pagejs/personal.js}"></script>

<script  id="mainEmployeeDivTemplate" type="text/x-handlebars-template">
			<div class="col-md-2">
				<img class="img-thumbnail" style="margin-left: 40px;" alt="" src="xxx.jpg" th:src="@{/static/images/headshot.jpg}"/>
			</div>
			<div class="col-md-5">
				{{txtInput model "thTitle" "คำนำหน้าชื่อ (TH):" 7 4 "static"}}
				{{txtInput model "thFirstName" "ชื่อ (TH):" 7 4 "static"}}
				{{txtInput model "thLastName" "นามสกุล (TH):" 7 4 "static"}}
				{{txtInput model "thNickName" "ชื่อเล่น (TH):" 7 4 "static"}}
				{{txtInput model "status" "สถานภาพ:" 7 4 "static"}}
				{{txtInput model "homePhoneNo" "เบอร์โทรศัพท์บ้าน:" 7 4 "static"}}
				{{txtInput model "nationalityName" "สัญชาติ:" 7 4 "static"}}
				{{txtInput model "bankAccount" "เลขที่บัญชีธนาคาร:" 7 4 "static"}}
			</div>
			<div class="col-md-5">
				{{txtInput model "enTitle" "คำนำหน้าชื่อ (EN):" 4 8 "static"}}	
				{{txtInput model "enFirstName" "ชื่อ (EN):" 4 8 "static"}}
				{{txtInput model "enLastName" "นามสกุล (EN):" 4 8 "static"}}
				{{txtInput model "enNickName" "ชื่อเล่น (EN):" 4 8 "static"}}
				{{txtInput model "mobilePhone" "เบอร์โทรศัพท์มือถือ:" 4 8 "static"}}
				{{txtInput model "email" "อีเมล์:" 4 8 "static"}}
				{{txtInput model "religious" "ศาสนา:" 4 8 "static"}}
			</div>
			<div class="col-md-4 col-md-offset-6">
				<a class="btn-system btn-large" href="#"><i class="fa fa-pencil-square-o"></i> แก้ไขข้อมูลพนักงาน</a>
			</div>
</script>


<script type="text/javascript" th:inline="javascript">
//<!--
var appRouter;

var mainEmployeeView = new MainEmployeeView({el: "#mainEmployeeDiv"});

$(document).ready(function() {
	appRouter = new AppRouter({
		
	});
	Backbone.history.start();
});
//-->
</script>
	
</div>
</body>
</html>