<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/main">
<head>
<title>MSTQ</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
	
		<ol class="breadcrumb">
  			<li><a href="#" th:href="@{/web/}"><i class="fa fa-home"></i> Home</a></li>
  			<li><a href="#" th:href="@{'/web/idcat/' + ${prevCat.id}}"><span th:text="${prevCat.nameTh}">กลุ่มอุตสาหกรรม</span></a></li>
		</ol>
		
		<h3> <span th:text="${standard.nameTh}">มอก. 5856-2548</span> : <span th:text="${standard.productNameTh}">ของเล่นเด็ก</span></h3>
		<h4> <span th:text="${standard.nameEn}">TIS 5856-2548</span> : <span th:text="${standard.productNameEn}">toy</span></h4>
		
		<table class="table table-bordered table-hover">
			<thead>
		      <tr>
		        <th style="width:70px;">ลำดับที่</th>
		        <th>รายการทดสอบ</th>
		         <!--/*/ <th:block th:each="labCap : ${labCaps}"> /*/-->
	      			<th  style="text-align: center; width: 100px;" th:text="${labCap.lab.abbrTh}">วศ.</th>
				 <!--/*/ </th:block> /*/-->
		      </tr>
	      	</thead>
	      	<tbody>
		      <tr th:each="param,paramStat : ${standard.parameters}">
		        <td style="text-align: center;"><span th:text="${paramStat.count}">1</span>.</td>
		        <td><span th:text="${param.nameTh}">คุณลักษณะทั่วไป</span></td>
		        <!--/*/ <th:block th:each="labCap : ${labCaps}"> /*/-->
	      		<td style="text-align: center;" th:with="method=${labCap.capabilities[paramStat.index]}">
	      			<div th:switch="${method.accredited17025}">
					  <span th:case="null"><i class="fa fa-times"></i></span>
					  <span th:case="true"><i class="fa fa-circle"></i></span>
					  <span th:case="false"><i class="fa fa-circle-o"></i></span>
					</div>
	      		</td>
				 <!--/*/ </th:block> /*/-->
		      </tr>
	      	</tbody>
	    </table>
	    
	    <div>
			<span style="padding-right:5pt;"><b>หมายเหตุ: </b></span>
			<span style="padding-right:25pt;"><i class="fa fa-times"></i> ไม่รับทดสอบ</span>
			<span style="padding-right:25pt;"><i class="fa fa-circle"></i> รับทดสอบและได้รับการรับรอง ISO 17025</span>
			<span style="padding-right:25pt;"><i class="fa fa-circle-o"></i> รับทดสอบแต่ไม่ได้รับการรับรอง ISO 17025</span>
		</div>
	</div>
	
</body>
</html>